.modal {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal img {
  display: block;
  margin: 50px auto;
  margin-top: max(9%, 50px);
  border: 3px solid white;

  width: auto;
  height: auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}
